<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">PANEL</a>
    <a class="" href="/logout">
        <img class="logout-button" src="/images/log-out.png" />
        <!--<button type="button" class="btn btn-primary">WYLOGUJ-->
        <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="col-6 " action="/user/lists/newtodolist" method="POST">
            <div class="input-group">
                <input type="text" class="col-9 new-list-input" name="item" placeholder="Dodaj nową listę"><span
                    class="col-3">  <button
                    type="submit"
                    class="btn btn-primary">Dodaj</button>
</span>
            </div>
        </form>
    </div>
</nav>


<div class="container">
    <div class="row">
        {{# each todoListSchema as |tdls id|}}
            <div class="col-md-4">
                <div class=" todo-list-container">
                    <a class="mark-button" href="/user/lists/todolist/delete/{{tdls._id}}">
                        <!--<button class="btn btn-danger btn-xs">x</button>-->
                        <img src="/images/mark-2.svg"/>
                    </a>
                    <h5>
                        {{this.name}}
                    </h5>
                    <form action="/user/lists/newtodo" method="POST">
                        <div class="input-group">
                            <input type="text" class="new-todo-input" name="item"
                                   placeholder="Dodaj nowe zadanie">
                            <input type="hidden" id="hiddenId" name="label" value="{{this.name}}">
                        </div>
                    </form>
                    <ul class="todos-list">
                        {{# each todoList}}
                            <li>
                                    <span>
                                        {{this.name}}
                                    </span>
                                <div class="action-container">
                                    <div class="task-checkbox">
                                        {{#if this.status }}
                                            <input type="checkbox" class="task-list-check" name="{{ tdls._id}}" value="{{ this._id}}"
                                                   checked>
                                        {{else}}
                                            <input type="checkbox" class="task-list-check" name="{{ tdls._id}}" value="{{ this._id}}">
                                        {{/if}}
                                    </div>

                                    <div class="pull-right hidden-phone">
                                        <a href="/user/lists/todo/delete/{{tdls._id}}/{{ this._id}}">
                                            <img class="todo-mark-delete" src="/images/mark.svg"/>
                                            <!--<button class="btn btn-danger btn-xs">x</button>-->
                                        </a>
                                    </div>
                                </div>

                            </li>
                        {{/each}}
                    </ul>
                    <ul></ul>
                </div>
            </div>
        {{/each}}
    </div>
</div>
