<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">PANEL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="col-6 " action="/user/lists/newtodolist" method="POST">
            <div class="input-group">
                <input type="text" class="col-9 new-list-input" name="item" placeholder="Dodaj nową listę"><span
                    class="col-3">  <button
                    type="submit"
                    class="btn btn-primary">Dodaj</button>
</span>
            </div>
        </form>
        <!--<form class="form-inline my-2 my-lg-0">-->
        <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>


<div class="container">
    <div class="row">
        {{# each todoListSchema}}
            <div class="col-md-4">
                <div class=" todo-list-container">
                    <h5>
                        {{this.name}}
                    </h5>
                    <!--<a href="" class="plus-button">+</a>-->
                    <form action="/user/lists/newtodo" method="POST">
                        <div class="input-group">
                            <input type="text" class="new-todo-input" name="item"
                                   placeholder="Dodaj nowe zadanie">
                            <input type="hidden" id="hiddenId" name="label" value="{{this.name}}">
                        </div>
                    </form>
                    <ul></ul>
                </div>
            </div>
        {{/each}}
    </div>
</div>


<div class="todoList">
        {{# each todoList}}
<div class="row">
<ul class="col-md-6">
<li>
<div class="task-checkbox">
        {{#if this.status }}
<input type="checkbox" class="task-list-check" value="{{ this._id}}" checked>
        {{else}}
<input type="checkbox" class="task-list-check" value="{{ this._id}}">
        {{/if}}
</div>
<div class="task-title">
<span>
{{this.name}}
</span>
<div class="pull-right hidden-phone">
<a href="/user/lists/delete/{{ this._id}}">
<button class="btn btn-danger btn-xs">x</button>
</a>
</div>
</div>
</li>
</ul>
</div>
        {{/each}}
</div>
